@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-geist-mono: "Courier New", Courier, monospace;
}

body {
  font-family: var(--font-geist-sans);
}
